@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    color: #374151
}

.Navb { 
    font-family: 'Anton', sans-serif;
}

.tranf {
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
}